
<div style="text-align: center;">
	<h1>Welcome to the Demo user registration System</h1><br />
	<h2><a href="/users">Signup</a></h2><br>
	<h1>OR</h1>
	<br>
	<h2><a href="/microposts">Add Micropost</a></h2>
</div>

